.navbar{
    background-color: white;
}
body{
  background-color: black;
}
img{
    display: inline;
    width: 40px;
    padding: 2px;
}
.topnav-right {
    float: right;
  }
input{
  padding: 6px;
  margin-top: 10px;
  margin-right: 70px;
  font-size: 17px;
}
.navbar ul{

    float: inline-end;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: auto;
}
li{
    display: inline;
    font-size: 20px;
    padding: 15px;

}
