<body>
<div>
  <section>
    <form  #educationform="ngForm" (ngSubmit)="addeducationformsubmit()">
      {{user | json}}
      <h2 style="color: white">Add your experience</h2>
      <input type="text" class="form-control" placeholder="Name of the institute" required [(ngModel)]="education.edu_org" name="edu_org" #edu_org="ngModel">
      <input type="text" class="form-control" placeholder="Your specialization" required [(ngModel)]="education.edu_stream" name="edu_role" #edu_stream="ngModel">
      <strong>Start Date</strong><input type="date" class="form-control" placeholder="start date" required [(ngModel)]="education.edu_start_date" name="edu_start_date" #edu_start_date="ngModel">
      <strong>End Date</strong><input type="date" class="form-control" placeholder="end date" required [(ngModel)]="education.edu_end_date" name="edu_end_date" #edu_end_date="ngModel">

      <br>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="educationform.form.invalid">Submit</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
    </form>
  </section>
</div>

</body>
