<body>
<div>
  <section>
    <form  [formGroup]="educationform" (ngSubmit)="addeducationformsubmit()">
      {{user | json}}
      <h2 style="color: white">Add your experience</h2>
      <input type="text" class="form-control" placeholder="Name of the institute" required  formControlName="edu_org" >
      <span
        *ngIf="!educationform.get('edu_org').valid && educationform.get('edu_org').touched" class="help-block" >
          This field is required!
        </span>
      <input type="text" class="form-control" placeholder="Your specialization" required formControlName="edu_stream" >
      <span
        *ngIf="!educationform.get('edu_stream').valid && educationform.get('edu_stream').touched" class="help-block" >
          This field is required!
        </span>

      <strong>Start Date</strong><input type="date" class="form-control" placeholder="start date" required formControlName="edu_start_date" >
      <span
        *ngIf="!educationform.get('edu_start_date').valid && educationform.get('edu_start_date').touched" class="help-block" >
          This field is required!
        </span>
      <strong>End Date</strong><input type="date" class="form-control"  placeholder="end date" required formControlName="edu_end_date" >
      <span
        *ngIf="!educationform.get('edu_end_date').valid && educationform.get('edu_end_date').touched" class="help-block"  >
          This field is required!
        </span>

      <br>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="educationform.invalid">Submit</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
    </form>
  </section>
</div>

</body>
