
<body>
  <div>
    <h3 style="padding-top: 40px;padding-right: 20px;padding-left: 30px">EXPERIENCES<a (click)="goToAddExperience()" style="float: right"><img src="https://cdn-icons-png.flaticon.com/128/359/359849.png" style="height: 25px;width: 25px"></a></h3>
    <hr>
    <br>
    <section class="list-group-item clearfix" style="background-color: white;" *ngFor="let experience of _experiencelist">
<!--             *ngFor="let experience of experiences"-->

      <button type="button"  style="float: right" (click)="deleteExperience(experience.exp_id)"><img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/2x/external-delete-multimedia-kiranshastry-solid-kiranshastry.png" style="width: 20px;height: 20px;"></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" style="float: right" (click)="goToEditExperience(experience.exp_id)"><img src="https://img.icons8.com/material-sharp/344/edit--v1.png" style="height: 20px;width: 20px;"></button>

      <h4 class="list-group-item-heading"><strong>{{experience.exp_org}}</strong></h4>
      <h5><i>{{experience.exp_role}}</i></h5>
      <p class="list-group-item-text">{{experience.exp_desc}}</p>
      <p>Working period: From {{experience.exp_start_date| date: 'dd/MM/yyyy'}} To {{experience.exp_end_date| date: 'dd/MM/yyyy'}}</p>
    </section>
    <br>
  </div>
<br>
<router-outlet></router-outlet>
</body>
