div{
  border-radius: 20px;

  width: 1000px;
  background-color: white;
  border-left: 40px;
  margin-left: 40px;
}
section{

  background-color: white;
  width: 800px;
  padding: 30px;
  color: black;
}
body{
  background-color: black;
}
a{
  padding: 10px;
}
