<body>
<div>
  <section>
    <form  #experienceform="ngForm" (ngSubmit)="addexperienceformsubmit()">
      {{user | json}}
      <h2 style="color: white">Add your experience</h2>
      <!--      <input type="text" class="form-control" placeholder="id" required [(ngModel)]="certification.certification_id" name="certification_id" #certification_id="ngModel">-->
      <input type="text" class="form-control" placeholder="Organisation" required [(ngModel)]="experience.exp_org" name="exp_org" #exp_org="ngModel">
      <input type="text" class="form-control" placeholder="Your Role" required [(ngModel)]="experience.exp_role" name="exp_role" #exp_role="ngModel">
      <input type="text" class="form-control" placeholder="Work description" required [(ngModel)]="experience.exp_desc" name="exp_desc" #exp_desc="ngModel">
      <strong>Start Date</strong><input type="date" class="form-control" placeholder="start date" required [(ngModel)]="experience.exp_start_date" name="exp_start_date" #exp_start_date="ngModel">
      <strong>End Date</strong><input type="date" class="form-control" placeholder="end date" required [(ngModel)]="experience.exp_end_date" name="exp_end_date" #exp_end_date="ngModel">

      <br>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="experienceform.form.invalid">Submit</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
    </form>
  </section>
</div>

</body>
