div{
  background-color: skyblue;
  display: block;
  height: 100%;
  border: 30px;
  padding: 80px;
  width: 60%;
  margin-top: 80px;
  margin-left: 280px;
}
section{
  background-color: black;
  border-radius: 5%;
  color: white;
  width: 600px;
  height: 700px;
  overflow: hidden;
  margin: auto;
  padding: 40px;
}
input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  background: white;

}

