<body>
<div>

  <section>
    <form  [formGroup]="profileform" (ngSubmit)="addprofileformsubmit()">

      <h2 style="color: white">Add your profile</h2>
      <input type="text" class="form-control" placeholder="Your current occupation" required formControlName="occupation" >
      <input type="text" class="form-control" placeholder="Your current organisation" required formControlName="organisation">
      <input type="text-area" class="form-control" placeholder="About" required formControlName="about">
      <img  [src]="imageUrl"  onerror ="this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQjblwVQ-GlXCaTJnkev2wwBkrWAZQzUehfQ&usqp=CAU'" alt="" style="border-radius: 50%;margin: 3%;height: 250px;width: 250px">

      <input type="file" #Image accept="image/*" accept=".jpg, .jpeg, .png" (change)="handleFileInput($event.target.files)" class="form-control" placeholder="image-url" required formControlName="image">

      <br>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="profileform.invalid">Submit</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="gotolist()">Back</button>
    </form>
  </section>
</div>
</body>
