div{
        padding: 30px;
        /*padding-left: 15px;
        padding-right: 15px;*/
        border-radius: 20px;
        background-color: white;
        width: 1000px;
        border-left: 40px;
        margin-left: 40px;


}
