<body>
<br>
  <div class="container-fluid">
    <h2><b><u>SIGN UP</u></b></h2>
  <form [formGroup]="registerform" (ngSubmit)="registerUser()">
      <div *ngIf="msg" class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Please login at the bottom
      </div>
      <div *ngIf="alert" class="alert alert-warning alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Email already exists!</strong>
      </div>
      <br>

      <input type="text"  class="form-control" placeholder="Email" formControlName="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
         <span
        *ngIf="!registerform.get('email').valid && registerform.get('email').touched" class="help-block" >
            Please enter a valid email
          </span>
      <br>
      <input type="text"  class="form-control" placeholder="Your Name" formControlName="username" required >
        <span
          *ngIf="!registerform.get('username').valid && registerform.get('username').touched" class="help-block" >
             Enter a valid username
            </span>
      <br>
      <input type="password" placeholder="Password" class="form-control" required  formControlName="password" >
    <span
      style="color: red"
      *ngIf="!registerform.get('password').valid && registerform.get('password').touched"
    >
          Password must contain more than 8 characters, 1 upper case letter, and 1
          special character
        </span>
      <br>
      <br>

      <input type="submit" value="SUBMIT"  >
      <br>
      <br>
      <h4 [routerLink]="['/login']">Existing user ? <u>Login here</u></h4>
  </form>
    </div>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
</body>
