<body>
<br>
  <div class="container-fluid">
    <h2><b><u>SIGN UP</u></b></h2>
  <form #registerform="ngForm" (ngSubmit)="registerUser()">
    <div *ngIf="msg" class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> Please login at the bottom
    </div>
    <div *ngIf="alert" class="alert alert-warning alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Email already exists!</strong>
    </div>
    <input type="email" name="email" class="form-control" placeholder=" Enter Email" required [(ngModel)]="user.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
           [class.is-invalid]="email.invalid && email.touched"
    >
    <div *ngIf="email.errors && (email.invalid && email.touched)">
      <small  class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
      <small class="text-danger" *ngIf="email.errors.pattern">Enter valid emailId</small>
    </div>
    <br>

    <input type="text" name="username" class="form-control" placeholder=" Enter Your Name" required [(ngModel)]="user.username" #username="ngModel"
           [class.is-invalid]="username.invalid && username.touched"
    >
    <br>
    <input type="password" name="password"  class="form-control" placeholder=" Enter Password" required [(ngModel)]="user.password" #password="ngModel"
           [class.is-invalid]="password.invalid && password.touched"
    >
    <div *ngIf="password.errors && (password.invalid && password.touched)">
      <small  class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
    </div>
    <br>
<!--    <input type="password" name="repassword" placeholder="Re-enter Password" required  #repassword="ngModel">-->

<!--      <small  class="text-danger" [class.d-none]="(repassword.value == password.value) || repassword.untouched">Password does not match</small>-->

    <br>
    <br>

    <input type="submit" value="SUBMIT" [disabled]="registerform.form.invalid" >
    <br>
    <br>
    <h4 [routerLink]="['/login']">Existing user ? <u>Login here</u></h4>
  </form>
    </div>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>
</body>
